<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Waiters Availability App</title>
</head>
<body>
    <div class="container">
    <h1>WAITERS AVAILABILIY APP</h1>
    </div>

    <div class="container">
    <h4>PLEASE SELECT THE DAYS YOU WOULD BE AVAILABLE</h4>
        <form action="" method="post">
    <input type="checkbox"  name="monday" value="1">
    <label for="vehicle1">MONDAY</label>
    <input type="checkbox"  name="tuesday" value="2">
    <label for="vehicle2"> TUESDAY </label>
    <input type="checkbox"  name="wednesday" value="3">
    <label for="vehicle2"> WEDNESDAY</label>
    <input type="checkbox"  name="thursday" value="4">
    <label for="vehicle2"> THURSDAY</label>
    <input type="checkbox"  name="friday" value="5">
    <label for="vehicle2"> FRIDAY </label>
    <input type="checkbox"  name="saturday" value="6">
    <label for="vehicle2"> SATURDAY</label>
    <input type="checkbox"  name="sunday" value="7">
    <label for="vehicle3"> SUNDAY </label><br><br>
    <input type="submit" value="Submit"> 

        </form>
    </div>
    
</body>
</html>