<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.register.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <h1>LOGIN</h1>
    </div>

    <div class="login-form">
        <form action="/login" method="post">
        <label for="">Waiter's Code : </label>
        <input type="text" name="login_code"><br><br>
        <input type="submit" value="Login"><br><br>

         <p class="text-center text-muted mt-5 mb-0">Don't have an account? <a href="\register"
                    class="fw-bold text-body"><u>Sign up here</u></a></p>
        </form>
    </div>


</body>
</html>